@charset "UTF-8";
/* CSS Buttons Document */


.btn,
.btn:link, 
.btn:visited { 
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #FFFFFF;
	background-image: linear-gradient(to bottom, #FEDE1A, #C374DA) ;
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba(0,0,0.5);
	color: #fff;
	font-weight: bold;
}

.btn-alt, 
.btn-alt:link, 
.btn-alt:visited {
	background-color: #5D8432 ;
	background-image: linear-gradient(to bottom, #FEDE1A, #FEDE1A);
}