# Accessibility Testing Report

User testing was conducted by {Giulia Balestra} on {April 2nd - April 9th} between the times of {12pm} and {6pm} with the following participants:

Tab Users

- {Tara Boland}
- {Ivy LaBossiere}
- {Logan Brandwood}

Keyboard Users
- {Samantha Nickerson}
- {Nick Talia}
- {Linda Tracey}

## Tasks

1. {Navigate through Nav "Home, About, Sweets" and subnavigation}
2. {Search for product in search field}
3. {Click Add to Cart }

---

## Individual Results & Observations

### {Tara Boland}

- {She tabbed through the nav as expected}
- {Found search bar no problem and searched for product}
- {completed task no problem}

### {Ivy LaBossiere}

- {she completed the task as expected}
- {She searched for product with no trouble}
- Found cart button and checkout with ease

### {Logan Brandwood}

- {They completed the task as expected}
- {Search with ease}
- {Found cart button and checkout as expected}

### {Samantha Nickerson}

- {She completed the task as expected}
- {She searched as expected}
- {Completed task no problem had no trouble finding buttons}

### {Nick Talia}

- {He navigated through nav and footer no problem}
- {Missed search bar but realised that it was missed once he hit "search button"}
- {Found Add cart and checkout button no problem}

### {Linda Tracey}

- {They completed the task as expected}
- {She missed search bar also because it said "Edit Text" but realised also once she heard "Search Button"}
- {Found add cart and checkout button with ease}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Infomation should be read to users and its not reading

### Serious, Causes Frustration, May Hinder Completion

- {Some participants missed search bar but realised once they hit search button}

### Minor, Annoying, Won’t Hinder Completion

- Colors should be adjusted