---
layout: default
titleAfter: curb your sweet tooth
meta: Anything sweet from A-Z, we have it all.
bannertext: SPRING SALE · SAVE UP TO 50% OFF
showbanner: yes
---

<h1>Search Results</h1>

	<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Wonka's Gobstoppers" desc="Hard Candy that lasts!" image="../images/lolli.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Wonka's Nerds" desc="So Sweet" image="../images/lolli.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Maynards Sour Patch Kids" desc="Sour Gummies!" image="../images/lolli.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Maynards Fuzzy Peaches" desc="Peachy Sweet Gummies!" image="../images/lolli.jpg" %}
		</div>
		
			
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Mini Eggs" desc="Yummy!" image="../images/lolli.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Cream Eggs" desc="Creamy Filling in a milk chocolate Egg!" image="../images/lolli.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Hersey's Milk Chocolate Bar" desc="Solid milk chocolate!" image="../images/lolli.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Hersey's Cookies and Cream" desc="Cookie bits in a white chocolate bar" image="../images/lolli.jpg" %}
		</div>