---
layout: sweetlist
title: curb your sweet tooth
meta: Candy in any shape or size, and flavour!
---

	<div class="grid">
	<h2>Chocolate</h2>
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Cadbury" desc="Mini Eggs, Cream Eggs... Etc!" image="../images/lolli.jpg" %}
		<a class="btn btn-alt giga" href="#">Add to Cart!</a>
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Hersey" desc="Milk Chocolate, Cookies and Cream... Etc!" image="../images/lolli.jpg" %}
		<a class="btn btn-alt giga" href="#">Add to Cart!</a>
		</div>
		
	<h2>Candy</h2>
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Wonka" desc="Nerds, Gobstoppers... Etc!" image="../images/lolli.jpg" %}
		<a class="btn btn-alt giga" href="#">Add to Cart!</a>
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Maynards" desc="Sour Patch Kids, Fuzzy Peach... Etc!" image="../images/lolli.jpg" %}
		<a class="btn btn-alt giga" href="#">Add to Cart!</a>
		</div>
		
	</div>