# User Testing Report

User testing was conducted by {Giulia Balestra} on {Tuesday, April 1} between the times of {3PM} and {5PM} with the following participants:

- {Logan Brandwood}
- {Ivy LaBossiere}
- {Tara Boland}

## Tasks

1. {Navigate through Nav "Home, About, Sweets" and subnavigation}
2. {Search for product in search field}
3. {Click Add to Cart }

---

## Individual Results & Observations

### {Logan Brandwood}

- {She clicked on the link as expected… noticed her squinting it was hard to read navigation}
- {She was able to search}
- {She was able to find buttons on most pages}
- {Unable to add to cart, and checkout}

### {Ivy LaBossiere}

- {She clicked on the link as expected navigated through pages}
- {She gave advice on hiearchy of the navigations (sub nav and main nav)}
- {Also couldn't check out}
- {Said buttons were easy to find big but didn't work}
- {search field was easy to work}

### {Tara Boland}

- {She clicked on the link as expected navigated through pages}
- {She was able to search}
- {She was able to find buttons, but asked why they were yellow and suggested an easier color on the eyes, and hard to read the white text in buttons}
- {Unable to add to cart, and checkout}
- {Found search field right away and used it no problem}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants Unable to add to cart}
- {All participants Unable to check out}


### Serious, Causes Frustration, May Hinder Completion

- {Participants pointed out the nav is hard to read with the symbols overlapping}

### Minor, Annoying, Won’t Hinder Completion

- {Participant pointed out the color of buttons should be easier on eyes, and if kept to a light color shouldn't use white text (hard to read)}
- {Styling needs to be improved}
