@charset "UTF-8";
/* header CSS Document */

.grid-header{
	background-color: #C374DA;
	clear: both;
	text-align: center;
}


.banner{
	background: #C374DA no-repeat center center;
	background-size: cover;
	padding: 5em 1em 1em;
	text-align: center;
}

.banner h2 {
	color: #fff;
}