---
layout: sweetlist
meta: Candy, candy, candy! Need we say more?
---
<main role="main">
	<h1>CANDY</h1>
	
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Wonka's Gobstoppers" desc="Hard Candy that lasts!" image="../images/lolli.jpg" %}
		<a class="btn btn-alt giga" href="#">Add to Cart!</a>
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Wonka's Nerds" desc="So Sweet" image="../images/lolli.jpg" %}
		<a class="btn btn-alt giga" href="#">Add to Cart!</a>
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Maynards Sour Patch Kids" desc="Sour Gummies!" image="../images/lolli.jpg" %}
		<a class="btn btn-alt giga" href="#">Add to Cart!</a>
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Maynards Fuzzy Peaches" desc="Peachy Sweet Gummies!" image="../images/lolli.jpg" %}
		<a class="btn btn-alt giga" href="#">Add to Cart!</a>
		</div>
		
	
		</div>
		
</main>