<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Default</title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width-device,initial-scale=1">
<link href="../css/typography.css" rel="stylesheet">
<link href="../css/promos.css" rel="stylesheet">
<link href="../css/buttons.css" rel="stylesheet">
<link href="../css/forms.css" rel="stylesheet">
<link href="../css/list-group.css" rel="stylesheet">
<link href="../css/media-object.css" rel="stylesheet">
<link href="../css/product-list.css" rel="stylesheet">
<link href="../css/product-details.css" rel="stylesheet">
<link href="../css/header.css" rel="stylesheet">
<link href="../css/footer.css" rel="stylesheet">
<link href="../css/grid.css" rel="stylesheet">
</head>

<body>

<header> 
	<h1>The Sweet Spot</h1>
	{% include nav.html %}
</header>

{{content}}

<footer>
{% include nav.html %}
</footer>

</body>
</html>
