<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{% if page.title %}{{page.title}} . {% endif %}Default</title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width-device,initial-scale=1">
<link href="../css/typography.css" rel="stylesheet">
<link href="../css/promos.css" rel="stylesheet">
<link href="../css/buttons.css" rel="stylesheet">
<link href="../css/forms.css" rel="stylesheet">
<link href="../css/list-group.css" rel="stylesheet">
<link href="../css/media-object.css" rel="stylesheet">
<link href="../css/product-list.css" rel="stylesheet">
<link href="../css/product-details.css" rel="stylesheet">
<link href="../css/header.css" rel="stylesheet">
<link href="../css/footer.css" rel="stylesheet">
<link href="../css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
<meta name="description" content="{{page.meta}}">
</head>

<body>

<header class="masthead {{page.mastheadClass}}"> 
	<h1>The Sweet Spot</h1>
	{% include nav.html navclass='nav-top' %}
</header>

{{content}}

<footer>
{% include nav.html navclass='nav-bottom' %}
<p> ç 2014 Sweet Spot </p>
</footer>

</body>
</html>
