---
layout: sweetlist
meta: Chocolate, chocolate, chocolate! Need we say more?
---
	<h1>CHOCOLATE</h1>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Mini Eggs" desc="Yummy!" image="../images/mini.png" %}
		<a class="btn btn-alt giga" href="{{site.baseurl}}/cart">Add to Cart!</a>
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Cream Eggs" desc="Creamy Filling in a milk chocolate Egg!" image="../images/creme.png" %}
		<a class="btn btn-alt giga" href="{{site.baseurl}}/cart">Add to Cart!</a>
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Hersey's Milk Chocolate Bar" desc="Solid milk chocolate!" image="../images/hchoc.png" %}
		<a class="btn btn-alt giga" href="{{site.baseurl}}/cart">Add to Cart!</a>
		</div>
		
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Hersey's Cookies and Cream" desc="Cookie bits in a white chocolate bar" image="../images/hcookie.png" %}
		<a class="btn btn-alt giga" href="{{site.baseurl}}/cart">Add to Cart!</a>
		</div>
		