---
layout: sweetlist
title: curb your sweet tooth
meta: Chocolate, chocolate, chocolate! Need we say more?
---
	<h1>CHOCOLATE</h1>
		
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Mini Eggs" desc="Yummy!" image="../images/lolli.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Cream Eggs" desc="Creamy Filling in a milk chocolate Egg!" image="../images/lolli.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Hersey's Milk Chocolate Bar" desc="Solid milk chocolate!" image="../images/lolli.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
		{% include promo-small.html title="Hersey's Cookies and Cream" desc="Cookie bits in a white chocolate bar" image="../images/lolli.jpg" %}
		</div>